* {
  margin: 0;
  padding: 0;
}
section {
    display: block;
    margin: 40px 0px;
}
h2 {
  /* display: inline; */
  text-align: center;

  padding: 10px 0;
}

header {
  height: 80px;
  background-color: blue;
}

ul {
  display: block;
  margin: 40px;
}

table {    
    margin: auto;
    /* width: 120px;
    height: 80px; */
}

td {
    padding: 12px;
}