* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    padding-bottom: 40px;
    }

.cabecalho-projeto-revisaoJs {
    background-image: url("./Img/images.png");
    color: white;
    text-align: center;
    height: 120px;
    padding-top: 40px;
    border-bottom: solid 2px black;
    width: 100%;
}

.divisao-pag-projetos {
    text-align: center;
    background-color:ye;
    border-bottom: solid 2px black;
    padding: 32px 0px 44px 0px;
    background-color: rgb(251, 46, 46);
    color: white;
}

img {
    width: 60%;
    height: 60%;
    
}

p{
    padding-bottom: 40px;
}

il {
        display: block;
           
}
   
.sem-borda {
    border-width: 0px;
    border: white;
}